GisServerService/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gisserver.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gisserver.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gisserver.org/">
      <s:element name="ConnectToServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tz" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectToServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectToServerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientPing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientPingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientPingResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Disconnect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisconnectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisconnectResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlarmTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlarmTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAlarmTableResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequestedAlarmTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequestedAlarmTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequestedAlarmTableResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllObjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllObjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllObjectsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateObjectsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateObjectsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateObjectsInfoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAlarms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAlarmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateAlarmsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sensor_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="from_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRouteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRouteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjInfoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllObjInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllObjInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllObjInfoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjParamsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="report_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="from_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLicenseTime">
        <s:complexType />
      </s:element>
      <s:element name="GetLicenseTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLicenseTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLicenseTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hexCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLicenseTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetLicenseTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConnectToServerSoapIn">
    <wsdl:part name="parameters" element="tns:ConnectToServer" />
  </wsdl:message>
  <wsdl:message name="ConnectToServerSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectToServerResponse" />
  </wsdl:message>
  <wsdl:message name="ClientPingSoapIn">
    <wsdl:part name="parameters" element="tns:ClientPing" />
  </wsdl:message>
  <wsdl:message name="ClientPingSoapOut">
    <wsdl:part name="parameters" element="tns:ClientPingResponse" />
  </wsdl:message>
  <wsdl:message name="DisconnectSoapIn">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="DisconnectSoapOut">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="GetAlarmTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetAlarmTable" />
  </wsdl:message>
  <wsdl:message name="GetAlarmTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetAlarmTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequestedAlarmTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequestedAlarmTable" />
  </wsdl:message>
  <wsdl:message name="GetRequestedAlarmTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequestedAlarmTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllObjectsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllObjects" />
  </wsdl:message>
  <wsdl:message name="GetAllObjectsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateObjectsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateObjectsInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateObjectsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateObjectsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAlarmsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAlarms" />
  </wsdl:message>
  <wsdl:message name="UpdateAlarmsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAlarmsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRouteSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoute" />
  </wsdl:message>
  <wsdl:message name="GetRouteSoapOut">
    <wsdl:part name="parameters" element="tns:GetRouteResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjInfo" />
  </wsdl:message>
  <wsdl:message name="GetObjInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllObjInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllObjInfo" />
  </wsdl:message>
  <wsdl:message name="GetAllObjInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllObjInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjParamsSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjParams" />
  </wsdl:message>
  <wsdl:message name="GetObjParamsSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjParamsResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetReport" />
  </wsdl:message>
  <wsdl:message name="GetReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetLicenseTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetLicenseTime" />
  </wsdl:message>
  <wsdl:message name="GetLicenseTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetLicenseTimeResponse" />
  </wsdl:message>
  <wsdl:message name="SetLicenseTimeSoapIn">
    <wsdl:part name="parameters" element="tns:SetLicenseTime" />
  </wsdl:message>
  <wsdl:message name="SetLicenseTimeSoapOut">
    <wsdl:part name="parameters" element="tns:SetLicenseTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ConnectToServerHttpGetIn">
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
    <wsdl:part name="tz" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConnectToServerHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ClientPingHttpGetIn">
    <wsdl:part name="a" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientPingHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="DisconnectHttpGetIn">
    <wsdl:part name="a" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DisconnectHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetAlarmTableHttpGetIn">
    <wsdl:part name="a" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAlarmTableHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetRequestedAlarmTableHttpGetIn">
    <wsdl:part name="from_date" type="s:string" />
    <wsdl:part name="to_date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRequestedAlarmTableHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetAllObjectsHttpGetIn">
    <wsdl:part name="a" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllObjectsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="UpdateObjectsInfoHttpGetIn">
    <wsdl:part name="a" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateObjectsInfoHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="UpdateAlarmsHttpGetIn">
    <wsdl:part name="a" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateAlarmsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetRouteHttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="sensor_id" type="s:string" />
    <wsdl:part name="from_date" type="s:string" />
    <wsdl:part name="to_date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRouteHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetObjInfoHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetObjInfoHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetAllObjInfoHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllObjInfoHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetObjParamsHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetObjParamsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetReportHttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="report_type" type="s:string" />
    <wsdl:part name="from_date" type="s:string" />
    <wsdl:part name="to_date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReportHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetLicenseTimeHttpGetIn" />
  <wsdl:message name="GetLicenseTimeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetLicenseTimeHttpGetIn">
    <wsdl:part name="hexCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetLicenseTimeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConnectToServerHttpPostIn">
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
    <wsdl:part name="tz" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConnectToServerHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ClientPingHttpPostIn">
    <wsdl:part name="a" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClientPingHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="DisconnectHttpPostIn">
    <wsdl:part name="a" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DisconnectHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetAlarmTableHttpPostIn">
    <wsdl:part name="a" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAlarmTableHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetRequestedAlarmTableHttpPostIn">
    <wsdl:part name="from_date" type="s:string" />
    <wsdl:part name="to_date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRequestedAlarmTableHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetAllObjectsHttpPostIn">
    <wsdl:part name="a" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllObjectsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="UpdateObjectsInfoHttpPostIn">
    <wsdl:part name="a" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateObjectsInfoHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="UpdateAlarmsHttpPostIn">
    <wsdl:part name="a" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateAlarmsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetRouteHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="sensor_id" type="s:string" />
    <wsdl:part name="from_date" type="s:string" />
    <wsdl:part name="to_date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRouteHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetObjInfoHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetObjInfoHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetAllObjInfoHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllObjInfoHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetObjParamsHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetObjParamsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetReportHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="report_type" type="s:string" />
    <wsdl:part name="from_date" type="s:string" />
    <wsdl:part name="to_date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReportHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetLicenseTimeHttpPostIn" />
  <wsdl:message name="GetLicenseTimeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetLicenseTimeHttpPostIn">
    <wsdl:part name="hexCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetLicenseTimeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="GisServerServiceSoap">
    <wsdl:operation name="ConnectToServer">
      <wsdl:input message="tns:ConnectToServerSoapIn" />
      <wsdl:output message="tns:ConnectToServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientPing">
      <wsdl:input message="tns:ClientPingSoapIn" />
      <wsdl:output message="tns:ClientPingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input message="tns:DisconnectSoapIn" />
      <wsdl:output message="tns:DisconnectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmTable">
      <wsdl:input message="tns:GetAlarmTableSoapIn" />
      <wsdl:output message="tns:GetAlarmTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestedAlarmTable">
      <wsdl:input message="tns:GetRequestedAlarmTableSoapIn" />
      <wsdl:output message="tns:GetRequestedAlarmTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllObjects">
      <wsdl:input message="tns:GetAllObjectsSoapIn" />
      <wsdl:output message="tns:GetAllObjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateObjectsInfo">
      <wsdl:input message="tns:UpdateObjectsInfoSoapIn" />
      <wsdl:output message="tns:UpdateObjectsInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAlarms">
      <wsdl:input message="tns:UpdateAlarmsSoapIn" />
      <wsdl:output message="tns:UpdateAlarmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <wsdl:input message="tns:GetRouteSoapIn" />
      <wsdl:output message="tns:GetRouteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjInfo">
      <wsdl:input message="tns:GetObjInfoSoapIn" />
      <wsdl:output message="tns:GetObjInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllObjInfo">
      <wsdl:input message="tns:GetAllObjInfoSoapIn" />
      <wsdl:output message="tns:GetAllObjInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjParams">
      <wsdl:input message="tns:GetObjParamsSoapIn" />
      <wsdl:output message="tns:GetObjParamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <wsdl:input message="tns:GetReportSoapIn" />
      <wsdl:output message="tns:GetReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseTime">
      <wsdl:input message="tns:GetLicenseTimeSoapIn" />
      <wsdl:output message="tns:GetLicenseTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLicenseTime">
      <wsdl:input message="tns:SetLicenseTimeSoapIn" />
      <wsdl:output message="tns:SetLicenseTimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GisServerServiceHttpGet">
    <wsdl:operation name="ConnectToServer">
      <wsdl:input message="tns:ConnectToServerHttpGetIn" />
      <wsdl:output message="tns:ConnectToServerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientPing">
      <wsdl:input message="tns:ClientPingHttpGetIn" />
      <wsdl:output message="tns:ClientPingHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input message="tns:DisconnectHttpGetIn" />
      <wsdl:output message="tns:DisconnectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmTable">
      <wsdl:input message="tns:GetAlarmTableHttpGetIn" />
      <wsdl:output message="tns:GetAlarmTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestedAlarmTable">
      <wsdl:input message="tns:GetRequestedAlarmTableHttpGetIn" />
      <wsdl:output message="tns:GetRequestedAlarmTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllObjects">
      <wsdl:input message="tns:GetAllObjectsHttpGetIn" />
      <wsdl:output message="tns:GetAllObjectsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateObjectsInfo">
      <wsdl:input message="tns:UpdateObjectsInfoHttpGetIn" />
      <wsdl:output message="tns:UpdateObjectsInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAlarms">
      <wsdl:input message="tns:UpdateAlarmsHttpGetIn" />
      <wsdl:output message="tns:UpdateAlarmsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <wsdl:input message="tns:GetRouteHttpGetIn" />
      <wsdl:output message="tns:GetRouteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjInfo">
      <wsdl:input message="tns:GetObjInfoHttpGetIn" />
      <wsdl:output message="tns:GetObjInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllObjInfo">
      <wsdl:input message="tns:GetAllObjInfoHttpGetIn" />
      <wsdl:output message="tns:GetAllObjInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjParams">
      <wsdl:input message="tns:GetObjParamsHttpGetIn" />
      <wsdl:output message="tns:GetObjParamsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <wsdl:input message="tns:GetReportHttpGetIn" />
      <wsdl:output message="tns:GetReportHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseTime">
      <wsdl:input message="tns:GetLicenseTimeHttpGetIn" />
      <wsdl:output message="tns:GetLicenseTimeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLicenseTime">
      <wsdl:input message="tns:SetLicenseTimeHttpGetIn" />
      <wsdl:output message="tns:SetLicenseTimeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GisServerServiceHttpPost">
    <wsdl:operation name="ConnectToServer">
      <wsdl:input message="tns:ConnectToServerHttpPostIn" />
      <wsdl:output message="tns:ConnectToServerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientPing">
      <wsdl:input message="tns:ClientPingHttpPostIn" />
      <wsdl:output message="tns:ClientPingHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input message="tns:DisconnectHttpPostIn" />
      <wsdl:output message="tns:DisconnectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmTable">
      <wsdl:input message="tns:GetAlarmTableHttpPostIn" />
      <wsdl:output message="tns:GetAlarmTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestedAlarmTable">
      <wsdl:input message="tns:GetRequestedAlarmTableHttpPostIn" />
      <wsdl:output message="tns:GetRequestedAlarmTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllObjects">
      <wsdl:input message="tns:GetAllObjectsHttpPostIn" />
      <wsdl:output message="tns:GetAllObjectsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateObjectsInfo">
      <wsdl:input message="tns:UpdateObjectsInfoHttpPostIn" />
      <wsdl:output message="tns:UpdateObjectsInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAlarms">
      <wsdl:input message="tns:UpdateAlarmsHttpPostIn" />
      <wsdl:output message="tns:UpdateAlarmsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <wsdl:input message="tns:GetRouteHttpPostIn" />
      <wsdl:output message="tns:GetRouteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjInfo">
      <wsdl:input message="tns:GetObjInfoHttpPostIn" />
      <wsdl:output message="tns:GetObjInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllObjInfo">
      <wsdl:input message="tns:GetAllObjInfoHttpPostIn" />
      <wsdl:output message="tns:GetAllObjInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjParams">
      <wsdl:input message="tns:GetObjParamsHttpPostIn" />
      <wsdl:output message="tns:GetObjParamsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <wsdl:input message="tns:GetReportHttpPostIn" />
      <wsdl:output message="tns:GetReportHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseTime">
      <wsdl:input message="tns:GetLicenseTimeHttpPostIn" />
      <wsdl:output message="tns:GetLicenseTimeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLicenseTime">
      <wsdl:input message="tns:SetLicenseTimeHttpPostIn" />
      <wsdl:output message="tns:SetLicenseTimeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GisServerServiceSoap" type="tns:GisServerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConnectToServer">
      <soap:operation soapAction="http://gisserver.org/ConnectToServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientPing">
      <soap:operation soapAction="http://gisserver.org/ClientPing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap:operation soapAction="http://gisserver.org/Disconnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmTable">
      <soap:operation soapAction="http://gisserver.org/GetAlarmTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestedAlarmTable">
      <soap:operation soapAction="http://gisserver.org/GetRequestedAlarmTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllObjects">
      <soap:operation soapAction="http://gisserver.org/GetAllObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateObjectsInfo">
      <soap:operation soapAction="http://gisserver.org/UpdateObjectsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAlarms">
      <soap:operation soapAction="http://gisserver.org/UpdateAlarms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <soap:operation soapAction="http://gisserver.org/GetRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjInfo">
      <soap:operation soapAction="http://gisserver.org/GetObjInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllObjInfo">
      <soap:operation soapAction="http://gisserver.org/GetAllObjInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjParams">
      <soap:operation soapAction="http://gisserver.org/GetObjParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <soap:operation soapAction="http://gisserver.org/GetReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseTime">
      <soap:operation soapAction="http://gisserver.org/GetLicenseTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLicenseTime">
      <soap:operation soapAction="http://gisserver.org/SetLicenseTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GisServerServiceSoap12" type="tns:GisServerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConnectToServer">
      <soap12:operation soapAction="http://gisserver.org/ConnectToServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientPing">
      <soap12:operation soapAction="http://gisserver.org/ClientPing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://gisserver.org/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmTable">
      <soap12:operation soapAction="http://gisserver.org/GetAlarmTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestedAlarmTable">
      <soap12:operation soapAction="http://gisserver.org/GetRequestedAlarmTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllObjects">
      <soap12:operation soapAction="http://gisserver.org/GetAllObjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateObjectsInfo">
      <soap12:operation soapAction="http://gisserver.org/UpdateObjectsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAlarms">
      <soap12:operation soapAction="http://gisserver.org/UpdateAlarms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <soap12:operation soapAction="http://gisserver.org/GetRoute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjInfo">
      <soap12:operation soapAction="http://gisserver.org/GetObjInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllObjInfo">
      <soap12:operation soapAction="http://gisserver.org/GetAllObjInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjParams">
      <soap12:operation soapAction="http://gisserver.org/GetObjParams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <soap12:operation soapAction="http://gisserver.org/GetReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseTime">
      <soap12:operation soapAction="http://gisserver.org/GetLicenseTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLicenseTime">
      <soap12:operation soapAction="http://gisserver.org/SetLicenseTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GisServerServiceHttpGet" type="tns:GisServerServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ConnectToServer">
      <http:operation location="/ConnectToServer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientPing">
      <http:operation location="/ClientPing" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <http:operation location="/Disconnect" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmTable">
      <http:operation location="/GetAlarmTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestedAlarmTable">
      <http:operation location="/GetRequestedAlarmTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllObjects">
      <http:operation location="/GetAllObjects" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateObjectsInfo">
      <http:operation location="/UpdateObjectsInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAlarms">
      <http:operation location="/UpdateAlarms" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <http:operation location="/GetRoute" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjInfo">
      <http:operation location="/GetObjInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllObjInfo">
      <http:operation location="/GetAllObjInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjParams">
      <http:operation location="/GetObjParams" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <http:operation location="/GetReport" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseTime">
      <http:operation location="/GetLicenseTime" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLicenseTime">
      <http:operation location="/SetLicenseTime" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GisServerServiceHttpPost" type="tns:GisServerServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ConnectToServer">
      <http:operation location="/ConnectToServer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientPing">
      <http:operation location="/ClientPing" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <http:operation location="/Disconnect" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmTable">
      <http:operation location="/GetAlarmTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestedAlarmTable">
      <http:operation location="/GetRequestedAlarmTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllObjects">
      <http:operation location="/GetAllObjects" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateObjectsInfo">
      <http:operation location="/UpdateObjectsInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAlarms">
      <http:operation location="/UpdateAlarms" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoute">
      <http:operation location="/GetRoute" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjInfo">
      <http:operation location="/GetObjInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllObjInfo">
      <http:operation location="/GetAllObjInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjParams">
      <http:operation location="/GetObjParams" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <http:operation location="/GetReport" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseTime">
      <http:operation location="/GetLicenseTime" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLicenseTime">
      <http:operation location="/SetLicenseTime" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GisServerService">
    <wsdl:port name="GisServerServiceSoap" binding="tns:GisServerServiceSoap">
      <soap:address location="http://sky.rv.ua/WebServer/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="GisServerServiceSoap12" binding="tns:GisServerServiceSoap12">
      <soap12:address location="http://sky.rv.ua/WebServer/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="GisServerServiceHttpGet" binding="tns:GisServerServiceHttpGet">
      <http:address location="http://sky.rv.ua/WebServer/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="GisServerServiceHttpPost" binding="tns:GisServerServiceHttpPost">
      <http:address location="http://sky.rv.ua/WebServer/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>